//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 18 20:19:18 2022
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "P32" LEVEL 1;
COMP "f" LOCATE = SITE "P29" LEVEL 1;
COMP "g" LOCATE = SITE "P27" LEVEL 1;
COMP "Q0" LOCATE = SITE "P58" LEVEL 1;
COMP "Q1" LOCATE = SITE "P57" LEVEL 1;
COMP "Q2" LOCATE = SITE "P56" LEVEL 1;
COMP "Q3" LOCATE = SITE "P55" LEVEL 1;
COMP "Common0" LOCATE = SITE "P44" LEVEL 1;
COMP "Common1" LOCATE = SITE "P43" LEVEL 1;
COMP "Common2" LOCATE = SITE "P33" LEVEL 1;
COMP "Common3" LOCATE = SITE "P30" LEVEL 1;
COMP "a" LOCATE = SITE "P41" LEVEL 1;
COMP "b" LOCATE = SITE "P40" LEVEL 1;
COMP "c" LOCATE = SITE "P35" LEVEL 1;
COMP "d" LOCATE = SITE "P34" LEVEL 1;
SCHEMATIC END;

