
# PlanAhead Generated physical constraints 

NET "A" LOC = P66;
NET "a_P41" LOC = P41;
NET "B" LOC = P62;
NET "b_P40" LOC = P40;
NET "C" LOC = P61;
NET "c_P35" LOC = P35;
NET "COMMON0" LOC = P44;
NET "COMMON1" LOC = P43;
NET "COMMON2" LOC = P33;
NET "COMMON3" LOC = P30;
NET "D" LOC = P59;
NET "d_P34" LOC = P34;
NET "e_P32" LOC = P32;
NET "f_P29" LOC = P29;
NET "g_P27" LOC = P27;
