//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 13 13:23:14 2022
//! **************************************************************************

SCHEMATIC START;
COMP "Buzzer" LOCATE = SITE "P83" LEVEL 1;
COMP "D<0>" LOCATE = SITE "P44" LEVEL 1;
COMP "D<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "CLK_P123" LOCATE = SITE "P123" LEVEL 1;
COMP "P40" LOCATE = SITE "P40" LEVEL 1;
COMP "P32" LOCATE = SITE "P32" LEVEL 1;
COMP "P41" LOCATE = SITE "P41" LEVEL 1;
COMP "P34" LOCATE = SITE "P34" LEVEL 1;
COMP "P35" LOCATE = SITE "P35" LEVEL 1;
COMP "P27" LOCATE = SITE "P27" LEVEL 1;
COMP "P29" LOCATE = SITE "P29" LEVEL 1;
COMP "COMMON2" LOCATE = SITE "P33" LEVEL 1;
COMP "COMMON3" LOCATE = SITE "P30" LEVEL 1;
COMP "PB3" LOCATE = SITE "P47" LEVEL 1;
SCHEMATIC END;

