//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 25 22:25:04 2022
//! **************************************************************************

SCHEMATIC START;
COMP "common1_P44" LOCATE = SITE "P44" LEVEL 1;
COMP "d_P34" LOCATE = SITE "P34" LEVEL 1;
COMP "Buz" LOCATE = SITE "P83" LEVEL 1;
COMP "e_P32" LOCATE = SITE "P32" LEVEL 1;
COMP "com1_P43" LOCATE = SITE "P43" LEVEL 1;
COMP "f_P29" LOCATE = SITE "P29" LEVEL 1;
COMP "com2_P33" LOCATE = SITE "P33" LEVEL 1;
COMP "BT_P47" LOCATE = SITE "P47" LEVEL 1;
COMP "g_P27" LOCATE = SITE "P27" LEVEL 1;
COMP "a_P41" LOCATE = SITE "P41" LEVEL 1;
COMP "com3_P30" LOCATE = SITE "P30" LEVEL 1;
COMP "CLK_P123" LOCATE = SITE "P123" LEVEL 1;
COMP "b_P40" LOCATE = SITE "P40" LEVEL 1;
COMP "c_P35" LOCATE = SITE "P35" LEVEL 1;
SCHEMATIC END;

